﻿
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<p>Hello!</p><br />

@{ 
    string image = "";

    switch (ViewBag.switchImage)
    {
        case "yes":
            image = "cat.jpg";break;
        case "no":
            image = "lion.jpg";break;
        case "dontknow":
            image = "tekila.jpg";break;
    }

}
<img src="~/img/@image"  />
@ViewBag.Message