﻿
@{
    ViewBag.Title = "MyHome";
}

<h2>MyHome</h2>

<h3>Best BBQ ever!</h3><br /><br />

<img src="~/img/bbq.jpg"/><br /><br />

<a href="/Home/Participation"  class="btn btn-primary">Participation</a>



