﻿
@{
    ViewBag.Title = "Participation";
}

<h2>Participation</h2>


    <form action="/Home/Participation" method="post">

        <input type="text" name="name" value="Name" /><br /> 
        <input type="email" name="email" value="Email" /><br />
        <input type="text" name="gsm" value="GSM" /><br />
        <input type="number" name="number" value="How many people?" /><br /><br />
        <p>Present:</p><br />
        <select name="choice">
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="dontknow">Je ne sait pas...</option>
        </select><br /><br />
        <input type="submit" name="submit" value="Submit" />
    </form>
<div class="alert-danger">@ViewBag.Erreur</div>
